.navbar {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  display: flex; /* Align items in a row */
  justify-content: center; /* Center the navbar items */
  background-color: #E7DFD8; /* Background color of navbar */
}

.navbar li {
  margin: 0; /* Remove margin from list items */
}

.navbar a {
  display: block; /* Make links block-level for easier clicking */
  padding: 14px 20px; /* Add padding */
  color: white; /* Text color */
  text-align: center; /* Center the text */
  text-decoration-line: underline; /* Remove underline */
}

.navbar a:hover {
  background-color: #575757; /* Change background on hover */
}
